<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="webjars/jquery/3.6.0/src/jquery.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin Panel</title>

</head>
<body>

<form>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-info" data-toggle="modal"
            th:data-target="'#Edit'+ ${user.id}">Edit
    </button>
</form>
</td>
<td>
    <form>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal"
                th:data-target="${'#Delete'+ user.id}">Delete
        </button>
    </form>
<!-- Modal EDIT-->
<div class="modal fade"  tabindex="-1" role="dialog" id="editModal"
     aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditeModalTitle">
                    Edit user</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">

                    <div class="form-group">
                        <label for="editId">Id</label>
                        <input type="number" class="form-control" id="editId"
                               name="id"  readonly>
                    </div>
                    <div class="form-group">
                        <label for="editFirstName">First name</label>
                        <input type="text" class="form-control"
                               name="firstname" id="editFirstName"
                               required maxlength="20"
                               >
                    </div>
                    <div class="form-group">
                        <label for="editLastName">last name</label>
                        <input type="text" class="form-control"
                               name="lastname" id="editLastName"
                               required maxlength="20">
                    </div>
                    <div class="form-group">
                        <label for="editAge">Age</label>
                        <input type="number" class="form-control" id="editAge"
                               name="age" min="1" required>
                    </div>
                    <div class="form-group">
                        <label for="editEmail">Email</label>
                        <input type="email" class="form-control" id="editEmail"
                               name="username" required minlength="3">
                    </div>
                    <div class="form-group">
                        <label for="editPassword">Password</label>
                        <input type="password" class="form-control"
                               name="password" id="editPassword"
                               value="" placeholder="new password">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold"
                               for="editRoles">Roles</label>

                        <select multiple size="3" class="form-control"
                                id="editRoles"
                                name="roles" required>
                            <option value= 1> ADMIN </option>
                            <option value= 2> USER </option>
                        </select>
                    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="submit" id="edit-modal-button"
                        class="btn btn-primary" value="Edit"> Edit
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal EDIT ends-->

<!-- Modal DELETE-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalTitle">Delete
                    user</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">


                    <div class="form-group">
                        <label for="delId">Id</label>
                        <input type="number" class="form-control" id="delId"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="delFirstName">First name</label>
                        <input type="text" class="form-control"
                               id="delFirstName"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="delLastName">last name</label>
                        <input type="text" class="form-control" id="delLastName"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="delAge">Age</label>
                        <input type="number" class="form-control" id="delAge"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="delEmail">Email</label>
                        <input type="email" class="form-control" id="delEmail"
                               readonly>
                    </div>
                    <div class="form-group" hidden>
                        <label for="delPassword">Password</label>
                        <input type="password" class="form-control"
                               id="delPassword"
                               readonly>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold"
                               for="delRoles">Roles</label>

                        <select multiple size="3" class="form-control"
                                id="delRoles"
                                name="roles" disabled>
                            <option value= 1> ADMIN </option>
                            <option value= 2> USER </option>
                        </select>

                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="submit" id="delete-modal-button"
                        class="btn btn-danger" value="Delete">Delete
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal DELETE ends-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
</body>
</html>